Commands : 1 2500000 MINERvA_fhc_numu 14 /data/stowell/NIWG/EventGenerator/genie/R-2_6_3/OfficialDefault-Default/flux/minerva_flux.root,numu_fhc CH 1000060120[0.9231],1000010010[0.0769] 1000060120,1000010010
Run : 1
nevents : 2500000
pdg : 14
fluxid : MINERvA_fhc_numu
flux : /data/stowell/NIWG/EventGenerator/genie/R-2_6_3/OfficialDefault-Default/flux/minerva_flux.root,numu_fhc
energy : 0.0,100.0
targetid : CH
target : 1000060120[0.9231],1000010010[0.0769]
nuisancetarget : 1000060120,1000010010
outdir : /data/stowell/NIWG/EventGenerator/genie/R-2_6_3/OfficialDefault-Default
GXMLPATH : /data/stowell/NIWG/EventGenerator/genie/R-2_6_3/OfficialDefault-Default/../official_configs/Default/
GMODEL : --cross-sections /data/stowell/NIWG/EventGenerator/genie/R-2_6_3/OfficialDefault-Default/../official_configs/Default//gxspl-t2k-v2.6.2.xml --event-generator-list Default

GENIE : /data/stowell/NIWG/EventGenerator/genie/R-2_6_3/genie-R-2_6_3-build-2017-07-10
PATH : /data/stowell/NIWG/EventGenerator/genie/R-2_6_3/nuisance-master-genie-R-2_6_3-build-2017-07-10/build/Linux/bin:/data/stowell/NIWG/EventGenerator/genie/R-2_6_3/genie-R-2_6_3-build-2017-07-10/bin:/usr/local/t2k-software/ROOT-NUISANCE/root/bin:/usr/local/t2k-software/ROOT-NUISANCE/root/bin:/usr/local/bin:/bin:/usr/bin
LD_LIBRARY_PATH : /usr/lib:/usr/local/t2k-software/lhapdf/lib:/data/stowell/NIWG/EventGenerator/genie/R-2_6_3/nuisance-master-genie-R-2_6_3-build-2017-07-10/build/Linux/lib:/data/stowell/NIWG/EventGenerator/genie/R-2_6_3/genie-R-2_6_3-build-2017-07-10/lib::/usr/local/t2k-software/ROOT-NUISANCE/root/lib:/usr/local/t2k-software/lhapdf/lib/:/usr/local/t2k-software/pythia6:/usr/local/t2k-software/log4cpp/src/.libs:/usr/lib/:/usr/local/t2k-software/ROOT-NUISANCE/root/lib
